{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
  <div class="col-7">
    <form method="post">
      {% csrf_token %}
      <legend class="display-1 border-bottom mb-4">Sign Up</legend>
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <small class="text-muted ml-4">
        Already Have An Account? <a class="" href="/login/">Login</a>
      </small>
    </form>
  </div>
</div>
{% endblock content %}
