{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
  <div class="col-7">
    <form method="post">
      {% csrf_token %}
      <legend class="display-1 border-bottom mb-4">Sign Up</legend>
      {{ form|crispy }}
      <button type="submit" class="btn btn-dark py-2 px-3">Sign Up</button>
    </form>
    <div class="border-top my-5 pt-2">
      <small class="text-muted ml-4">
        Already Have An Account? <a class="lead" href="/login/">Login</a>
      </small>
    </div>
  </div>
</div>
{% endblock content %}
