{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="discription" content="This is a official webpage of Hotel BT" />
    <meta name="keyword" content="Hotel Bt,HBT" />
    <title>HBT</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/hbt.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'sass/style.css' %}" />
    <!-- <link rel="stylesheet"href="{% static 'css/mobile.css' %}" media="screen and (max-width:768px)" > -->
  </head>
  <body>
    {% include "navbar.html" %} {% block content %} {% endblock content %} {%
    include "footer.html" %}
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.css' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
  </body>
</html>
