<footer>
  <div class="container pt-5 pb-3">
    <div class="row">
      <div class="col-12 col-md-6 my-4 px-4">
        <h5>ABOUT</h5>
        <p class="mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
          dolorum. Harum fugiat beatae reprehenderit nam illo veritatis adipisci
          inventore eveniet enim tempora alias, quibusdam id.
        </p>
        <div class="mt-4">
          <ul class="list-unstyled row">
            <li class="col-1">
              <a href="#" class="text-dark"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li class="col-1">
              <a href="#" class="text-dark"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="col-1">
              <a href="#" class="text-dark"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="col-1">
              <a href="#" class="text-dark"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-6 col-md my-4">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    </ul>
                </div> -->
      <div class="col-6 col-md my-4">
        <h5>Contact Info</h5>
        <ul class="list-unstyled text-small mt-4">
          <li>
            <h6>Email</h6>
            <p>
              <a class="text-muted" href="#">support.hbt@gmail.com</a>
            </p>
          </li>
          <li>
            <h6>Phone</h6>
            <p class="text-muted">+91 90000 44448</p>
          </li>
          <li>
            <h6>Location</h6>
            <p class="text-muted">Santoshpur, Kolkata</p>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md my-4">
        <h5>Newsletter</h5>
        <p class="mt-4">
          Subscribe to our mailing list to get latest news and updates from us.
        </p>
        <form action="" method="post">
          <div class="form-group">
            <div class="input-group">
              <input
                type="email"
                class="form-control"
                placeholder="Enter your email..."
                required
              />
              <div class="input-group-append">
                <a href="#" class="input-group-text text-dark"
                  ><i class="fas fa-paper-plane"></i
                ></a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.374429262324!2d88.38448191529247!3d22.49013074165966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02716a2e9edeed%3A0x9c5beb0ce37ce204!2s49%2C+Lake+East+3rd+Rd%2C+Adipally%2C+Santoshpur%2C+Kolkata%2C+West+Bengal+700075%2C+India!5e0!3m2!1sen!2sus!4v1561746541031!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div> -->
  <div class="container pb-3">
    <p class="text-center lead mt-4">Copyright&copy;2020 HBT</p>
  </div>
</footer>
