{% extends "base.html" %} {% block content %}
<header id="showcase">
  <div class="container">
    <div class="showcase-content">
      <h1><span class="text">Welcome</span> Hotel HBT</h1>
      <p class="lead">
        Luxury like you've never experienced before! #Best memories start here.
        Stay in our grand luxury rooms and suites, or at our Grand Presidential
        Suite. Be pampered by our world-renowned butlers and enjoy sumptuous
        in-room-dining experiences. Come, retreat into this tranquil paradise in
        Hotel HBT. Come in as Guests. Leave as Family.
      </p>
      <a class="btn btn-dark py-3 px-5" href="/rooms">BOOK NOW</a>
    </div>
  </div>
</header>
<section id="info" class="dark">
  <div class="info-img"></div>
  <div class="info-content">
    <h2><span class="text">The History</span> Of Our Hotel</h2>
    <p>
      Hotel HBT has a distinctively sleek contemporary architectural design
      contrasting with the rich historical essence . The hotel is nestled amidst
      acres of land, resplendent with greenery, sunshine, and water.
    </p>
    <a href="/about" class="btn btn-light py-3 px-5">Read More</a>
  </div>
</section>
<section id="features" class="row">
  <div class="box col-md">
    <i class="fas fa-hotel fa-3x"></i>
    <h3>Great Location</h3>
    <p>HBT is located rights in the heart of the city</p>
  </div>

  <div class="box light col-md">
    <i class="fas fa-car fa-3x"></i>
    <h3>Car Service Available</h3>
    <p>No need to book a cab,HBT Car Service will get the job done</p>
  </div>
  <div class="box col-md">
    <i class="fas fa-clipboard-list fa-3x"></i>
    <h3>Quick Check In</h3>
    <p>Hassle free check in and check out</p>
  </div>
</section>
{% endblock content %}
