<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand mx-5 font-weight-bold">HBT</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto nav nav-tabs" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link {{home_nav}}"
            id="home"
            href="/"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {{about_nav}}"
            id="about"
            href="/about"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {{rooms_nav}}"
            id="rooms"
            href="/rooms"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
            >Rooms</a
          >
        </li>
      </ul>
    <form class="form-inline">
      {% if user.is_authenticated %}
      <div class="text-light">
        <span>Hello, {{user.first_name}}</span>
        &nbsp;&nbsp;&nbsp;
        <a href="/logout" class="lead">Logout</a>
      </div>
      {% else %}
      <a href="/login" class="lead">Login</a>
      &nbsp;&nbsp;&nbsp;
      <a href="/signup" class="lead">Sign Up</a>
      {% endif %}
    </form>
  </div>
</nav>
