{% extends "base.html" %} {% load static %} {% block content %}
{%static "images" as baseUrl %}
<div id="bgroom">
  <div class="container">
    <div class="showcase-content">
      <h1 class="rbg"><span class="text">Enjoy</span> Your Stay</h1>
    </div>
  </div>
</div>
<div class="roomsAvailable container">
  <h2>Rooms Available</h2>
  <hr />
</div>
<section class="container mt-4 mb-5">
  <div class="container">
    <div class="row">
      {% for room in rooms %}
      <div class="col-md">
        <div class="card" style="width: 18rem;">
          <img
            src="{{baseUrl}}/{{room.image_path}}"
            class="card-img-top"
            alt="flower"
          />
          <div class="card-body">
            <h5 class="card-title">{{room.name}}</h5>
            <p class="card-text">
              {{room.description}}
            </p>
            <p class="font-weight-bold lead">&#8377 {{room.price}}</p>
            <a href="register/{{room.id}}" class="btn btn-dark py-2 px-3">Book Now</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="features" class="row">
  <div class="box col-md">
      <i class="fas fa-concierge-bell fa-3x"></i>
      <h3>Great Service</h3>
  <p>“The best way to find yourself is to lose yourself in the service of others.”</p>
  </div>
  
  <div class="box light col-md">
      <i class="fas fa-utensils fa-3x"></i>
      <h3>Free Meals</h3>
      <p>From a world cuisine to authentic Italian or a true taste of Indian delicacies, the hotel offers a variety of choices </p>
      </div>
  
  <div class="box col-md">
      <i class="fas fa-glass-martini-alt fa-3x"></i>
      <h3>Bar</h3>
      <p>Enjoy a drink in our spacious lounge bar, is a truly enjoyable experience </p>
      </div>
     
  </section>
  
{% endblock content %}
